
<!DOCTYPE html>
<html>
<head>
    <title>Upload</title>
    <link rel="stylesheet" href="/photo-gallery/css/style.css">
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id ="main">
      <div id="login">
        <h2 class="text">Upload your files</h2>
          
          <form enctype="multipart/form-data" method="post" action="<?=$_SERVER['PHP_SELF']?>">
            <br>
            <div class ="upload">
              <input name="userfile[]" type="file" multiple="multiple" />
            </div>
            <br>
            <input type="submit" value="Upload">
          </form>
         
      </div>
    </div>

     <img src="upload.php?id= <?= $imageId ?>" width="150px">
</body>
</html>